.apps-container {
    background: #f9ece3;
    border-radius: 20;
    -webkit-box-shadow: 0 0 18 3 rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0 0 18 3 rgba(0, 0, 0, 0.61);
    box-shadow: 0 0 18 3 rgba(0, 0, 0, 0.61);
    margin: 3% auto;
    padding: 0 25;
    width: 1000px;
}

.head-line {
    color: #000;
    text-align: center;
    font-size: 25;
    font-weight: 600;
}

.tag-line-grey {
    color: #b3b1b5;
    text-align: center;
    font-size: 15;
    font-weight: 600;
}

.close-btn {
    text-align: right;
    margin-top: 0;
    color: #b3b1b5;
    font-size: 25;
}