<ScrollView row="0">
    <StackLayout padding="10" *ngIf="visible_key">
        <ListView class="list-group " [items]="items" height="1250px">
            <ng-template let-app="item">
                <StackLayout id="">

                    <StackLayout visibility="">
                        <GridLayout width="100%" columns="*" rows="auto, 20" class="msg them">
                            <StackLayout orientation="horizontal">
                                <Image class="authorimg" width="30" height="30" stretch="aspectFill" verticalAlignment="top" src="~/images/shyam-wheel.png" ></Image>
                                <Label text="Hi" textWrap="true" verticalAlignment="top" class="msg_text" ></Label>
                            </StackLayout>

                            <Label class="msg_timestamp" text="12/02/2018" verticalAlignment="top" row="1" colSpan="2" ></Label>
                        </GridLayout>
                    </StackLayout>

                    <StackLayout visibility="">
                        <GridLayout columns="*" rows="auto, 40" class="msg me">
                            <StackLayout orientation="horizontal" horizontalAlignment="right">
                                <Label text="Hello" class="msg_text" textWrap="true" verticalAlignment="top" ></Label>
                                <Image class="authorimg" stretch="aspectFill" height="30" width="30" verticalAlignment="top" src="~/images/user.png" col="1" ></Image>
                            </StackLayout>
                            <Label class="msg_timestamp" text="21/07/2018" verticalAlignment="top" row="1" ></Label>
                        </GridLayout>
                    </StackLayout>

                </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>
</ScrollView>