<StackLayout row="1" orientation="horizontal" *ngIf="visible_key && category_list.length > 0">
    <Button textWrap="true" width="30%" [nsRouterLink]="['/store-app/', appId , 'about-us']">
        <FormattedString>
            <Span text="About Us"></Span>
        </FormattedString>
    </Button>
    <Button textWrap="true" width="30%" [nsRouterLink]="['/store-app/', appId , 'products']">
        <FormattedString>
            <Span text="Products"></Span>
        </FormattedString>
    </Button>
    <Button textWrap="true" width="30%" [nsRouterLink]="['/store-app/', appId , 'contact-us']">
        <FormattedString>
            <Span text="Contact Us"></Span>
        </FormattedString>
    </Button>
    <Button textWrap="true" width="10%" [nsRouterLink]="['/store-app/', appId , 'cart']">
        <FormattedString>
            <Span class="fa cart-label" [text]="'fa-shopping-cart' | fonticon"></Span>
        </FormattedString>
    </Button>
</StackLayout>
<StackLayout row="1" orientation="horizontal" *ngIf="visible_key && category_list.length == 0">
    <Button textWrap="true" width="50%" [nsRouterLink]="['/store-app/', appId , 'about-us']">
        <FormattedString>
            <Span text="About Us"></Span>
        </FormattedString>
    </Button>
    <Button textWrap="true" width="50%" [nsRouterLink]="['/store-app/', appId , 'contact-us']">
        <FormattedString>
            <Span text="Contact Us"></Span>
        </FormattedString>
    </Button>
</StackLayout>