<StackLayout class="tab-view-fonts" orientation="horizontal" *ngIf="visible_key && product_list.length > 0">
    <StackLayout orientation="vertical" width="25%" [nsRouterLink]="['/store-app/', appId , 'about-us']" nsRouterLinkActive="active-link">
        <Label text="About Us" horizontalAlignment="center"></Label>
    </StackLayout>
    <StackLayout orientation="vertical" width="25%" [nsRouterLink]="['/store-app/', appId , 'products']" nsRouterLinkActive="active-link">
        <Label text="Products" horizontalAlignment="center"></Label>
    </StackLayout>
    <StackLayout orientation="vertical" width="25%" [nsRouterLink]="['/store-app/', appId , 'contact-us']" nsRouterLinkActive="active-link">
        <Label text="Contact Us" horizontalAlignment="center"></Label>
    </StackLayout>
    <StackLayout orientation="vertical" width="25%" [nsRouterLink]="['/store-app/', appId , 'my-account']" nsRouterLinkActive="active-link">
        <Label text="My Account" horizontalAlignment="center"></Label>
    </StackLayout>
</StackLayout>
<StackLayout orientation="horizontal" *ngIf="visible_key && product_list.length == 0">
    <StackLayout orientation="vertical" width="33.33%" [nsRouterLink]="['/store-app/', appId , 'about-us']" nsRouterLinkActive="active-link">
        <Label text="About Us" horizontalAlignment="center"></Label>
    </StackLayout>
    <StackLayout orientation="vertical" width="33.33%" [nsRouterLink]="['/store-app/', appId , 'contact-us']" nsRouterLinkActive="active-link">
        <Label text="Contact Us" horizontalAlignment="center"></Label>
    </StackLayout>
    <StackLayout orientation="vertical" width="33.33%" [nsRouterLink]="['/store-app/', appId , 'my-account']" nsRouterLinkActive="active-link">
        <Label text="My Account" horizontalAlignment="center"></Label>
    </StackLayout>
</StackLayout>