<StackLayout row="1" orientation="horizontal" *ngIf="visible_key && product_list.length > 0">
    <StackLayout orientation="vertical" width="33.33%" [nsRouterLink]="['/store-app/', appId , 'about-us']">
        <Label class="fa" [text]="'fa-info' | fonticon" horizontalAlignment="center"></Label>
        <Label text="About Us" horizontalAlignment="center"></Label>
    </StackLayout>
    <StackLayout orientation="vertical" width="33.33%" [nsRouterLink]="['/store-app/', appId , 'products']">
        <Label class="fa" [text]="'fa-shopping-bag' | fonticon" horizontalAlignment="center"></Label>
        <Label text="Products" horizontalAlignment="center"></Label>
    </StackLayout>
    <StackLayout orientation="vertical" width="33.33%" [nsRouterLink]="['/store-app/', appId , 'contact-us']">
        <Label class="fa" [text]="'fa-dashcube' | fonticon" horizontalAlignment="center"></Label>
        <Label text="Contact Us" horizontalAlignment="center"></Label>
    </StackLayout>
</StackLayout>
<StackLayout row="1" orientation="horizontal" *ngIf="visible_key && product_list.length == 0">
    <StackLayout orientation="vertical" width="50%" [nsRouterLink]="['/store-app/', appId , 'about-us']">
        <Label class="fa" [text]="'fa-info' | fonticon" horizontalAlignment="center"></Label>
        <Label text="About Us" horizontalAlignment="center"></Label>
    </StackLayout>
    <StackLayout orientation="vertical" width="50%" [nsRouterLink]="['/store-app/', appId , 'contact-us']">
        <Label class="fa" [text]="'fa-dashcube' | fonticon" horizontalAlignment="center"></Label>
        <Label text="Products" horizontalAlignment="center"></Label>
    </StackLayout>
</StackLayout>