<ScrollView row="0" class="explore-full">
    <WrapLayout orientation="horizontal">
        <StackLayout class="main_container">
            <GridLayout rows="auto, auto, auto">
                <SearchBar row="0" hint="Search by Category" backgroundColor="#fff" [text]="searchPhrase" (submit)="onSearchSubmit($event)" height="70" class="m-b-25 m-t-20" borderRadius="10"></SearchBar>


                <Button row="1" class="btn " id="button" text="Sign Up" (tap)="onTap($event)" backgroundColor="#41bffe" color="#fff" height="80" width="60%"></Button>










            </GridLayout>




        </StackLayout>
        <ListView class="list-group">
            <ListView.itemTemplate>
                <GridLayout class="list-group-item" rows="*" columns="auto, *">
                    <Image row="0" col="0" src="~/images/shyam-wheel.png" class="thumb img-circle"></Image>
                    <Label row="0" col="1" text="Your text"></Label>
                </GridLayout>
            </ListView.itemTemplate>
        </ListView>
    </WrapLayout>
</ScrollView>