.category_dropdown {
    background: #ffffff;
    border: 1 solid #b4b3b3;
    padding: 5;
    font-size: 18px;
    color: #00aff0;
}


.add-btn {
    background: url(~/images/ready-to-add.png) no-repeat 0 0;
    background-size: contain;
}

.active-btn {
    background: url(~/images/active-add.png) no-repeat 0 0;
    background-size: contain;
}

.list-group {
    /* background: url(~/images/dashboard-bg.jpg) no-repeat 0 0; */
    /* background-size: cover; */
}

.list-group .list-group-item {
    background: #fff;
}

FilterSelect {
    border-style: solid;
    padding: 3;
    border-width: 1;
    border-color: #ccc;
    border-radius: 5;
}

.btn-filter-select {
    vertical-align: middle;
    align-content: center;
    margin: 0;
    padding: 1;
}

.filter-select-tag {
    margin-left: 8;
    border-width: 1;
    border-color: #ccc;
    border-radius: 5;
    padding: 6;
}

.felter-select-list label {
    padding: 20;
}

.felter-select-list {
    margin: 2;
}

.filter-select-hint {
    vertical-align: middle;
    text-align: center;
    margin-top: 8;
}

.filter-select-selected {
    border-width: 1;
    border-color: green;
}

.filter-select-tags-holder {}

.filter-select-tag-delete {
    padding: 0;
    margin: 0;
    background-color: white;
    height: 20;
    width: 20;
    text-align: center;
    border-color: white;
}

.base-filter-select {

}

.btn-filter-select {

}