<action-bar></action-bar>
<GridLayout rows="*,60">
    <DockLayout stretchLastChild="true" background="#f9ece3">
        <GridLayout rows="auto,auto,auto" dock="top">
            <StackLayout padding="10" paddingBottom="0" row="0">
                <FilterSelect [items]="category_list" (change)="onCategoryChange($event)" hint="Search by Category" [selectText]="'fa-search' | fonticon"
                    modal_title="Category" search_param="category_name" primary_key="id" class="category_dropdown" borderRadius="5">
                    <ng-template let-category="item">
                        <GridLayout columns="*" rows="*">
                            <Label col="0" row="0" [text]="category.category_name" class="list-group-item-heading"></Label>
                        </GridLayout>
                    </ng-template>
                </FilterSelect>
                <TextField borderRadius="5" class="m-t-5" borderColor="#ccc" borderWidth="1" hint="Search by Location" width="100%" (tap)="searchLocation($event)"
                    backgroundColor="#fff" height="50" padding="10" fontSize="12" [(ngModel)]="location"></TextField>
            </StackLayout>
            <StackLayout class="hr-light pading-gap m-b-10 m-t-10" row="1"></StackLayout>
            <label class="section_heading" text="Trending Apps" row="2"></label>
            <!-- <Button class="btn btn-primary" text="Search" (tap)="search()" backgroundColor="#6c6969" color="#fff" width="40%" row="1"></Button> -->
        </GridLayout>
        <GridLayout rows="*">
            <ScrollView row="0" (scroll)="onScroll($event)">
                <StackLayout class="list-group" orientation="vertical">
                    <StackLayout marginBottom="3" *ngFor="let app of app_list">
                        <CardView class="whiteCard" elevation="25">
                            <GridLayout columns="auto,*,*,auto" rows="*" class="list-group-item" verticalAlignment="center">
                                <Image col="0" row="0" [src]="app.logo" class="thumb img-circle" *ngIf="app.logo != null" verticalAlignment="center"></Image>
                                <Image col="0" row="0" src="~/images/no-image-logo.jpg" class="thumb img-circle" *ngIf="app.logo == null" verticalAlignment="center"></Image>
                                <StackLayout orientation="vertical" col="1" row="0" verticalAlignment="center">
                                    <Label [text]="app.business_name" class="list-group-item-heading"></Label>
                                </StackLayout>
                                <StackLayout orientation="horizontal" col="2" row="0" verticalAlignment="center">
                                    <Label class="fa rating" [text]="'fa-star' | fonticon" *ngFor="let rat of rating; let i = index" [ngClass]="[i <= app.avg_rating -1 ? 'active' : '']"></Label>
                                </StackLayout>
                                <Label class="fa add-btn" [text]="'fa-plus-circle' | fonticon" verticalAlignment="center" orientation="vertical" col="3"
                                    row="0" [ngClass]="{'active-btn': app.isDashboard}" (tap)="addToDashboard(app.id)"></Label>
                            </GridLayout>
                        </CardView>
                    </StackLayout>
                </StackLayout>
            </ScrollView>
        </GridLayout>
    </DockLayout>
    <menu-bar></menu-bar>
</GridLayout>