.add-btn {
    color: gray;
    font-size: 20;
}

.active-btn {
    color: green;
}

.list-group {
    padding: 0 10;
}

.list-group .list-group-item {
    background: #fff;
    padding: 0 20 0 10;
}

.category_dropdown {
    background: #ffffff;
    padding: 0 5;
    border-style: solid;
    border-width: 1;
    border-color: #ccc;
    border-radius: 5;
}

.img-circle{
    background: #f9ece3;
}

.list-group-item-heading{
    font-size: 12;
}

.section_heading{
    color: #000;
    text-align: left;
    font-size: 20;
    font-weight: 100;
    margin-bottom: 10;
    padding: 0 12;
}

.rating{
    color: gray;
    font-size: 10;
}
.rating.active{
    color: green;
}