.category_dropdown{
    background: #ffffff;
    border: 1 solid #b4b3b3;
    padding: 5;
}
.category_dropdown .filter-select-hint{
    padding: 5;
    margin-left: 5;
}
.category_dropdown .filter-select-tag-delete{
    background: transparent;
}


