.add-btn {
    color: gray;
    font-size: 20;
}

.active-btn {
    color: green;
}

.list-group {
    padding: 10;
}

.list-group .list-group-item {
    background: #fff;
    padding: 0 20 0 10;
}

.img-circle{
    background: #f9ece3;
}

.list-group-item-heading{
    font-size: 12;
}

.section_heading{
    color: #000;
    text-align: left;
    font-size: 20;
    font-weight: 600;
    margin-bottom: 10;
}

.rating{
    color: gray;
    font-size: 10;
}
.rating.active{
    color: green;
}