<action-bar></action-bar>
<GridLayout rows="*,50">
    <ScrollView row="0">
        <StackLayout padding="10" class="list-group" orientation="vertical" *ngIf="visible_key">
            <StackLayout borderWidth="1" borderColor="#ccc" *ngFor="let app of app_list" style="margin-bottom: 10px;" [nsRouterLink]="['/all-app/details/', app.id]">
                <CardView class="whiteCard">
                    <GridLayout columns="*,*,*" rows="*" class="list-group-item">
                        <Image col="0" row="0" [src]="app.logo" class="thumb img-circle" *ngIf="app.logo != null"></Image>
                        <StackLayout orientation="vertical" col="1" row="0">
                            <Label [text]="app.business_name" class="list-group-item-heading"></Label>
                        </StackLayout>
                    </GridLayout>
                </CardView>
            </StackLayout>
        </StackLayout>
    </ScrollView>
    <menu-bar></menu-bar>
</GridLayout>