<ScrollView row="0">
    <StackLayout padding="10" *ngIf="visible_key && customer_cart_data.length > 0">
        <CardView *ngFor="let item of customer_cart_data;let i = index" class="card" elevation="0" radius="0" shadowOpacity="0" shadowOffsetWidth="0"
            shadowOffsetHeight="0">
            <GridLayout rows="*" columns="*,*,*,40" padding="10" verticalAlignment="center">
                <Label [text]="item.product_name" textWrap="true" row="0" col="0" verticalAlignment="center" class="product_name"></Label>
                <StackLayout row="0" col="1" verticalAlignment="center" orientation="horizontal">
                    <Label [text]="item.quantity * item.discounted_price" class="discounted_price" textWrap="true" *ngIf="item.discounted_price > 0"></Label>
                    <Label [text]="item.quantity * item.price" class="original_price" textWrap="true" [ngClass]="[item.discounted_price > 0 ? 'isDiscount' : '']"></Label>
                    <Label [text]="getDiscount(item.price,item.discounted_price)" class="discount" textWrap="true" *ngIf="item.discounted_price > 0"></Label>
                </StackLayout>
                <GridLayout rows="*" columns="40,40,40" verticalAlignment="center" row="0" col="2">
                    <Button class="fa" [text]="'fa-minus' | fonticon" backgroundColor="#fff" borderColor="#ababab" borderWidth="1" row="0" col="0"
                        (tap)="decrement(i)"></Button>
                    <Label [text]="item.quantity" borderTopWidth="1" borderBottomWidth="1" borderBottomColor="#ababab" borderTopColor="#ababab"
                        row="0" col="1" class="quantity" lineHeight="40"></Label>
                    <Button class="fa" [text]="'fa-plus' | fonticon" backgroundColor="#fff" borderColor="#ababab" borderWidth="1" row="0" col="2"
                        (tap)="increment(i)"></Button>
                </GridLayout>
                <Button class="fa" [text]="'fa-times' | fonticon" col="3" row="0" verticalAlignment="center" backgroundColor="#fff" borderColor="#fff"
                    borderWidth="1" (tap)="remove(item.product_id)"></Button>
            </GridLayout>
        </CardView>
        <StackLayout class="hr-light m-10"></StackLayout>
        <StackLayout padding="10">
            <GridLayout rows="*,*,*,*" columns="*,*" verticalAlignment="center">
                <StackLayout verticalAlignment="center" col="0" row="0">
                    <Label class="pull-left font-weight-bold" text="Total item price"></Label>
                </StackLayout>
                <StackLayout verticalAlignment="center" col="1" row="0">
                    <Label class="pull-right font-weight-bold" [text]="total_item_price"></Label>
                </StackLayout>
                <StackLayout verticalAlignment="center" col="0" row="1">
                    <Label class="pull-left font-weight-bold" text="Total packing charge"></Label>
                </StackLayout>
                <StackLayout verticalAlignment="center" col="1" row="1">
                    <Label class="pull-right font-weight-bold" [text]="total_packing_price"></Label>
                </StackLayout>
                <StackLayout class="hr-light m-10" row="2" colSpan="2"></StackLayout>
                <StackLayout verticalAlignment="center" col="0" row="3">
                    <Label class="pull-left font-weight-bold" text="Total"></Label>
                </StackLayout>
                <StackLayout verticalAlignment="center" col="1" row="3">
                    <Label class="pull-right font-weight-bold" [text]="total_item_price + total_packing_price"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
        <StackLayout>
            <Button class="btn btn-primary pull-right" text="Pay" (tap)="pay()"></Button>
        </StackLayout>
    </StackLayout>
    <StackLayout padding="10" *ngIf="visible_key && customer_cart_data.length == 0" style="text-align: center">
        <Label text="No item in cart" textWrap="true"></Label>
        <Button class="btn btn-primary" text="Continue shopping" (tap)="shop()"></Button>        
    </StackLayout>
</ScrollView>