<ScrollView sdkExampleTitle sdkToggleNavButton>
    <DockLayout stretchLastChild="true">
        <GridLayout rows="auto" dock="top">
            <StackLayout background="#41bffe" padding="10" row="0">
                <app-menu-bar></app-menu-bar>
            </StackLayout>
        </GridLayout>
        <StackLayout padding="10">
            <Label [text]="app_id" textWrap="true"></Label>
            <Label text="app contact us page" textWrap="true"></Label>
        </StackLayout>
    </DockLayout>
</ScrollView>