.login-page {
    align-items: center;
    flex-direction: column;
    /* background: #b17340; */
    /* background: url(~/images/dashboard-bg.jpg) no-repeat 0 0; */
    background-size: cover;
}

.logo {
    margin-top: 15;
    font-weight: bold;
    width: 300;
}

.full-content {
    margin-top: 20%;
}

.apps-container {
    width: 90%;
    background: #f1f1f1;
    border-radius: 5;
    -webkit-box-shadow: 0 0 18 3 rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0 0 18 3 rgba(0, 0, 0, 0.61);
    box-shadow: 0 0 18 3 rgba(0, 0, 0, 0.61);
    height: 60%;
    margin: 3% auto;
    padding: 25;
}

.head-line {
    color: #000;
    text-align: center;
    font-size: 25;
    font-weight: 600;
}

.tag-line-grey {
    color: #b3b1b5;
    text-align: center;
    font-size: 15;
    font-weight: 600;
}

.skip-text {
    font-size: 20;
    color: #33244d;
    text-align: center;
    text-decoration: underline;
}