<app-action-bar [appId]="app_id"></app-action-bar>
<GridLayout rows="*,auto">
    <DockLayout stretchLastChild="true">
        <!-- <GridLayout rows="auto" dock="top">
            <StackLayout backgroundColor="#fff" padding="10" row="0">
                <app-menu-bar [appId]="app_id"></app-menu-bar>
            </StackLayout>
        </GridLayout> -->
        <GridLayout rows="*" backgroundColor="#f9ece3">
            <router-outlet></router-outlet>
        </GridLayout>
    </DockLayout>
    <!-- <menu-bar></menu-bar> -->
    <StackLayout backgroundColor="#fff"  row="1">
            <app-menu-bar [appId]="app_id"></app-menu-bar>
    </StackLayout>
</GridLayout>