.login-page {
    align-items: center;
    flex-direction: column;
    background: #fff;
}

.logo {
    margin-top: 4%;
    font-weight: bold;
    width: 300;
    margin-bottom: 10%;
}

.full-content {
    margin-top: 4%;
}

.apps-container {
    width: 90%;
    background: #f9ece3;
    border-radius: 5;
    -webkit-box-shadow: 0 0 18 3 rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0 0 18 3 rgba(0, 0, 0, 0.61);
    box-shadow: 0 0 18 3 rgba(0, 0, 0, 0.61);
    margin: 0 auto;
    padding: 30, 15, 75, 15;
}

.head-line {
    color: #000;
    text-align: center;
    font-size: 25;
    font-weight: 600;
}

.tag-line-grey {
    color: #b3b1b5;
    text-align: center;
    font-size: 15;
    padding-bottom: 15%;
}