.img-rounded {
    border-radius: 50%;
    background: #f9ece3;
}

.business_name {
    font-weight: 600;
    text-transform: uppercase;
}

.rating{
    color: gray;
    font-size: 10;
}
.rating.active{
    color: green;
}