.bottom-nav {
    padding: 8 0 0 0;
    background: #f9ece3;
}

.bottom-nav Label {
    color: #809bb6;
}

.bottom-nav .fa {
    font-size: 20;
}

.menu-label {
    font-size: 8;
}

.bottom-nav .active-link Label {
    color: #fff;
}