.bottom-nav {
    padding: 8 0 0 0;
    background: #f9ece3;
}

.bottom-nav Label {
    color: #adadad;
}

.bottom-nav .fa {
    font-size: 18;
}

.menu-label {
    font-size: 10;
}

.bottom-nav .active-link Label {
    color: #000;
}